<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kod</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/darcula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/python.min.js"></script>
    <script>hljs.highlightAll();</script>
    <style>
        body {
            background-color: #2b2b2b;
            color: #79aec8;
            font-size: 16px;
        }
        .flex {
            overflow-x: visible;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <div class="flex">
        <pre>
            <code class="language-python">
{{ code }}
            </code>
        </pre>
    </div>
</body>
</html>
